.best-players-game {
  font-family: Lalezar Regular;
  font-size: 2.7rem;
  display: flex;
  align-items: center;
  text-align: center;
  margin: auto;
  justify-content: center;
}

.cup {
  width: 11rem;
  height: 11rem;
  margin: auto;
  display: flex;
}

.best-players-box {
  margin: auto;
  width: 46%;
  background-color: #feac01;
  border: 4px solid black;
  border-radius: 15px;
  animation: borderColor 5s infinite;
}

@keyframes borderColor {
  0% {
    border: red 4px solid;
  }

  25% {
    border: #d80044 4px solid;
  }

  55% {
    border: #ff6c33 5px solid;
  }

  85% {
    border: #d80044 4px solid;
  }

  100% {
    border: red 4px solid;
  }
}

.about-me {
  width: 100%;
  font-family: Lalezar Regular;
  border: none;
  background-color: #8e44ad;
  color: white;
  font-size: 1.7rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0.8rem;
  text-align: center;
  cursor: pointer;
}

.about-me:hover {
  background-color: #783894;
}

.best-player-info {
  margin: auto;
  align-items: center;
  width: 75%;
  background-color: #fed330;
  border: 3px solid black;
  border-radius: 10px;
  padding: 0.5rem;
}

.best-player-info:hover {
  cursor: pointer;
  background-color: #fed130d2;
}

.medal {
  width: 4rem;
  height: 4rem;
  display: flex;
  margin: auto;
}

.name-best-player {
  font-family: Lalezar Regular;
  font-size: 1.7rem;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
}

.name-best-player:hover {
  text-decoration: underline;
  cursor: pointer;
}

.number_of_wins_player {
  width: 50%;
  margin: auto;
  display: flex;
  text-align: center;
  border: 4px dashed #5e140c;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  font-family: Lalezar Regular;
  font-size: 1.3rem;
}

.count-of-best-players {
  float: right;
  font-size: 3.5rem;
  font-family: Lalezar Regular;
  margin-right: 2rem;
}

@media screen and (max-width: 1808px) {
  .number_of_wins_player {
    width: 60%;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1565px) {
  .best-players-box {
    width: 50%;
  }
}

@media screen and (max-width: 1370px) {
  .best-players-box {
    width: 60%;
  }
}

@media screen and (max-width: 1160px) {
  .best-players-box {
    width: 70%;
  }
}

@media screen and (max-width: 929px) {
  .best-players-box {
    width: 78%;
  }
}

@media screen and (max-width: 894px) {
  .best-players-box {
    width: 90%;
  }

  .best-players-game {
    font-size: 2.5rem;
  }

  .count-of-best-players {
    font-size: 3rem;
    margin-right: 2rem;
  }

  .name-best-player {
    margin-right: 3rem;
  }
}

@media screen and (max-width: 678px) {
  .cup {
    width: 8rem;
    height: 8rem;
  }

  .best-players-box {
    width: 95%;
  }

  .best-players-game {
    font-size: 2.3rem;
  }

  .about-me {
    font-size: 1.5rem;
  }

  .count-of-best-players {
    font-size: 2.5rem;
    margin-right: 1.5rem;
  }

  .name-best-player {
    margin-right: 2.5rem;
  }

  .number_of_wins_player {
    width: 70%;
    border: 3px dashed #5e140c;
    font-size: 1.1rem;
  }

  .best-player-info {
    width: 80%;
  }
}

@media screen and (max-width: 536px) {
  .about-me {
    font-size: 1.4rem;
  }

  .number_of_wins_player {
    width: 80%;
    border: 3px dashed #5e140c;
    font-size: 1rem;
  }

  .best-player-info {
    width: 80%;
  }

  .medal {
    width: 3.8rem;
    height: 3.8rem;
  }

  .name-best-player {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 480px) {
  .best-players-game {
    font-size: 1.9rem;
    text-align: center;
    padding: 0.7rem;
  }

  .best-player-info {
    width: 90%;
  }
}

@media screen and (max-width: 384px) {
  .number_of_wins_player {
    width: 90%;
  }
}

@media screen and (max-width: 317px) {
  .number_of_wins_player {
    width: 95%;
  }
}
