.profile-icon {
  margin: auto;
  display: flex;
  justify-content: center;
  width: 18rem;
  height: 18rem;
}

.profile-box {
  width: 45%;
  margin: auto;
  background-color: #feac01;
  border: 3px solid black;
  border-radius: 10px;
}

.your-profile-txt {
  font-family: Lalezar Regular;
  margin: auto;
  text-align: center;
  font-size: 2.5rem;
}

.profile-content,
.profile-content-2 {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.profile-data {
  background-color: #fed330;
  font-family: Lalezar Regular;
  font-size: 1.5rem;
  padding: 0.8rem 1rem 0.8rem 1rem;
  border: 3px dashed black;
  border-radius: 50px;
  margin-right: 1rem;
  margin-left: 1rem;
  cursor: pointer;
}

.profile-data:hover {
  border: 3px dashed darkred;
}

.profile-hr {
  border: 2px dashed black;
  opacity: 1;
}

.level-icon {
  width: 8rem;
  height: 8rem;
  margin: auto;
  display: flex;
}

.your-level {
  text-align: center;
  font-size: 2rem;
  background-color: #fed330;
  font-family: Lalezar Regular;
  font-size: 1.7rem;
  padding: 0.8rem 3rem 0.8rem 3rem;
  border: 3px dashed black;
  border-radius: 50px;
  margin-right: 1rem;
  margin-left: 1rem;
  cursor: pointer;
  width: 70%;
  margin: auto;
}

.your-score {
  text-align: center;
  background-color: #fed330;
  font-family: Lalezar Regular;
  font-size: 1.5rem;
  padding: 0.8rem 3rem 0.8rem 3rem;
  border: 3px dashed black;
  border-radius: 50px;
  margin-right: 1rem;
  margin-left: 1rem;
  cursor: pointer;
  width: 60%;
  margin: auto;
}

.level-circle,
.level-circle-top {
  margin: auto;
  text-align: center;
  background-color: #1abc9c;
  width: 20%;
  font-size: 2.5rem;
  font-family: Lalezar Regular;
  border-radius: 50px;
  border: 3px dashed black;
}

.level-circle-top {
  background-color: #3498db;
}

.about-score-txt {
  text-align: center;
  font-family: Vazirmatn;
  margin: auto;
  justify-content: center;
  display: flex;
}

.chart-txt {
  font-family: Lalezar Regular;
  margin: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.about-chart-txt {
  font-family: Vazirmatn;
  margin: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
  margin-right: 2rem;
}

.chart {
  width: 50%;
  height: 50%;
  margin: auto;
  font-family: Vazirmatn;
}

.empty-score {
  font-family: Lalezar Regular;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  margin: 0rem;
  color: #34495e;
}
