.profile-icon {
  margin: auto;
  display: flex;
  justify-content: center;
  width: 18rem;
  height: 18rem;
}

.profile-box {
  width: 45%;
  margin: auto;
  background-color: #feac01;
  border: 3px solid black;
  border-radius: 10px;
}

.your-profile-txt {
  font-family: "Lalezar", cursive;
  margin: auto;
  text-align: center;
  font-size: 2.5rem;
}

.profile-content,
.profile-content-2 {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.profile-data {
  background-color: #fed330;
  font-family: "Lalezar", cursive;
  font-size: 1.5rem;
  padding: 0.8rem 1rem 0.8rem 1rem;
  border: 3px dashed black;
  border-radius: 50px;
  margin-right: 1rem;
  margin-left: 1rem;
  cursor: pointer;
}

.profile-data:hover {
  border: 3px dashed darkred;
}

.profile-hr {
  border: 2px dashed black;
  opacity: 1;
}

.level-icon {
  width: 8rem;
  height: 8rem;
  margin: auto;
  display: flex;
}

.your-level {
  text-align: center;
  font-size: 2rem;
  background-color: #fed330;
  font-family: "Lalezar", cursive;
  font-size: 1.7rem;
  padding: 0.8rem 3rem 0.8rem 3rem;
  border: 3px dashed black;
  border-radius: 50px;
  margin-right: 1rem;
  margin-left: 1rem;
  cursor: pointer;
  width: 70%;
  margin: auto;
}

.your-score {
  text-align: center;
  background-color: #fed330;
  font-family: "Lalezar", cursive;
  font-size: 1.5rem;
  padding: 0.8rem 3rem 0.8rem 3rem;
  border: 3px dashed black;
  border-radius: 50px;
  margin-right: 1rem;
  margin-left: 1rem;
  cursor: pointer;
  width: 60%;
  margin: auto;
}

.level-circle,
.level-circle-top {
  margin: auto;
  text-align: center;
  background-color: #1abc9c;
  width: 20%;
  font-size: 2.5rem;
  font-family: "Lalezar", cursive;
  border-radius: 50px;
  border: 3px dashed black;
}

.level-circle-top {
  background-color: #3498db;
}

.about-score-txt {
  text-align: center;
  font-family: Vazirmatn;
  margin: auto;
  justify-content: center;
  display: flex;
  margin-left: 0.7rem;
  margin-right: 0.7rem;
}

.chart-txt {
  font-family: "Lalezar", cursive;
  margin: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.about-chart-txt {
  font-family: Vazirmatn;
  margin: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
  margin-right: 2rem;
}

.chart {
  width: 50%;
  height: 50%;
  margin: auto;
  font-family: Vazirmatn;
}

.empty-score {
  font-family: "Lalezar", cursive;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  margin: 0rem;
  color: #34495e;
}

.online {
  font-family: "Lalezar", cursive;
  margin: auto;
  text-align: center;
  font-size: 2.3rem;
  color: green;
}

.your-friends {
  margin: auto;
  align-items: center;
  display: flex;
  font-family: "Lalezar", cursive;
  font-size: 1.5rem;
  width: 15%;
  text-align: center;
  background-color: #2ecc71;
  border: 2px dashed black;
  border-radius: 10px;
  justify-content: center;
  padding: 0.5rem;
}

.your-friends:hover {
  border: 2px solid black;
  border-radius: 20px;
}

.can-invite-me-to-games {
  display: flex;
  align-items: center;
  text-align: center;
  margin: auto;
  font-family: "Lalezar", cursive;
  background-color: #2ecc71;
  border-radius: 50px;
  border: 3px dashed black;
  width: 50%;
  justify-content: center;
  padding: 1rem;
  font-size: 1.3rem;
}

.can-not {
  background-color: #e74c3c;
}

.can-invite-me-to-games:hover {
  border: 3px solid black;
}

.bio {
  font-family: "Lalezar", cursive;
  margin: auto;
  text-align: center;
  justify-content: center;
  font-size: 1.4rem;
}

.edit-bio {
  font-family: "Lalezar", cursive;
  margin: auto;
  align-items: center;
  display: flex;
  background-color: #3498db;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 10px;
  border: 2px dashed black;
  padding: 0.5rem;
  width: 10%;
  justify-content: center;
}

.edit-bio:hover {
  background-color: #2980b9;
}

@media screen and (max-width: 1669px) {
  .profile-box {
    width: 50%;
  }

  .can-invite-me-to-games {
    width: 60%;
  }

  .edit-bio {
    width: 15%;
  }
}

@media screen and (max-width: 1514px) {
  .profile-box {
    width: 55%;
  }
}

@media screen and (max-width: 1347px) {
  .profile-box {
    width: 60%;
  }

  .your-friends {
    width: 25%;
  }
}

@media screen and (max-width: 1200px) {
  .profile-box {
    width: 67%;
  }
}

@media screen and (max-width: 1080px) {
  .edit-bio {
    width: 20%;
  }

  .profile-box {
    width: 78%;
  }
}

@media screen and (max-width: 903px) {
  .edit-bio {
    width: 22%;
  }

  .profile-box {
    width: 85%;
  }

  .your-friends {
    width: 30%;
  }
}

@media screen and (max-width: 800px) {
  .edit-bio {
    width: 25%;
  }

  .can-invite-me-to-games {
    width: 70%;
    font-size: 1.2rem;
    padding: 0.8rem;
  }

  .profile-box {
    width: 90%;
  }

  .profile-icon {
    width: 16rem;
    height: 16rem;
  }

  .profile-data {
    font-size: 1.3rem;
  }

  .level-circle,
  .level-circle-top {
    font-size: 2.2rem;
  }

  .your-score {
    font-size: 1.3rem;
  }

  .your-friends {
    width: 35%;
  }
}

@media screen and (max-width: 670px) {
  .edit-bio {
    width: 30%;
  }

  .profile-box {
    width: 95%;
  }
}

@media screen and (max-width: 615px) {
  .can-invite-me-to-games {
    width: 80%;
    font-size: 1.1rem;
    padding: 0.7rem;
  }

  .profile-icon {
    width: 13rem;
    height: 13rem;
  }

  .profile-data {
    font-size: 1.1rem;
    padding: 0.6rem 0.8rem 0.6rem 0.8rem;
    margin-right: 0.7rem;
    margin-left: 0.7rem;
  }

  .level-circle,
  .level-circle-top {
    font-size: 2rem;
    width: 25%;
  }

  .your-score {
    font-size: 1.1rem;
  }

  .your-profile-txt {
    font-size: 2.3rem;
  }

  .chart-txt {
    font-size: 1.8rem;
  }

  .about-chart-txt {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 511px) {
  .bio {
    font-size: 1.1rem;
  }

  .edit-bio {
    width: 40%;
  }

  .can-invite-me-to-games {
    width: 94%;
    font-size: 1.1rem;
    padding: 0.6rem 0.6rem;
  }

  .your-friends {
    width: 45%;
    font-size: 1.3rem;
    padding: 0.4rem 0.4rem;
  }

  .chart {
    width: 60%;
    height: 60%;
  }

  .profile-content,
  .profile-content-2 {
    width: 100%;
    display: inline-block;
    text-align: center;
  }

  .profile-data,
  .p-d {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .your-score {
    width: 80%;
  }

  .level-circle,
  .level-circle-top {
    width: 30%;
  }

  .about-score-txt {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 454px) {
  .edit-bio {
    width: 50%;
    padding: 0.3rem;
  }

  .chart {
    width: 70%;
    height: 70%;
  }
}

@media screen and (max-width: 400px) {
  .your-friends {
    width: 50%;
    font-size: 1.3rem;
  }

  .chart {
    width: 75%;
    height: 75%;
  }

  .chart-txt {
    font-size: 1.7rem;
    margin: 0.5rem;
  }
}

@media screen and (max-width: 335px) {
  .edit-bio {
    width: 50%;
  }

  .your-friends {
    width: 50%;
    font-size: 1.2rem;
  }

  .chart {
    width: 80%;
    height: 80%;
  }

  .level-circle,
  .level-circle-top {
    width: 40%;
  }
}
