.profile-icon {
  width: 9rem;
  height: 9rem;
  display: flex;
  margin: auto;
}

.profile-box {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  background-color: #feac01;
  width: 37%;
  border-radius: 10px;
  border: 3px black solid;
}

.profile-txt {
  font-family: Lalezar Regular;
  font-size: 2.7rem;
}

.profile-data {
  background-color: #fed330;
  padding: 0.8rem 1rem 0.8rem 1rem;
  border-radius: 30px;
  border: 3px black dashed;
  font-family: Lalezar Regular;
  font-size: 1.3rem;
  display: inline-flex;
  margin-bottom: 1.5rem;
  margin-left: 0.6rem;
  cursor: pointer;
  margin-right: 0.6rem;
}

.profile-data:hover {
  border: 3px black solid;
}

@media screen and (max-width: 1669px) {
  .profile-box {
    width: 40%;
  }
}

@media screen and (max-width: 1448px) {
  .profile-box {
    width: 48%;
  }
}

@media screen and (max-width: 1200px) {
  .profile-box {
    width: 55%;
  }
}

@media screen and (max-width: 1000px) {
  .profile-box {
    width: 65%;
  }
}

@media screen and (max-width: 750px) {
  .profile-icon {
    width: 8.5rem;
    height: 8.5rem;
  }

  .profile-box {
    width: 70%;
  }
}

@media screen and (max-width: 678px) {
  .profile-icon {
    width: 7rem;
    height: 7rem;
  }

  .profile-txt {
    font-size: 2.3rem;
  }

  .profile-data {
    padding: 0.7rem 0.8rem 0.7rem 0.8rem;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    margin-left: 0.6rem;
    margin-right: 0.6rem;
  }

  .profile-box {
    width: 90%;
  }
}

@media screen and (max-width: 512px) {
  .profile-txt {
    font-size: 2.1rem;
  }
}
