.first-betting-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 18rem;
  height: 18rem;
}

.betting-box {
  margin: auto;
  width: 40%;
  background-color: #feac01;
  border-radius: 10px;
  border: 3px solid black;
}

.betting-box-txt {
  font-family: Lalezar Regular;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.bet-icon-box {
  float: right;
  width: 20%;
  margin-right: 5%;
}

.bet-icon {
  width: 20rem;
  height: 20rem;
}

.bet-icon-box-2 {
  float: left;
  margin-left: 5%;
}

.bet-icon-2 {
  width: 20rem;
  height: 20rem;
}

.bet-players-box {
  width: 80%;
  background-color: #ffcf00;
  margin: auto;
  border: 3px solid black;
  max-height: 50vh;
  overflow: auto;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.to-player-txt {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  font-family: Lalezar Regular;
  font-size: 1.5rem;
  color: black;
  margin-top: -1rem;
}

.player-name {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  width: 45%;
  background-color: #3498db;
  border-radius: 50px;
  font-family: Lalezar Regular;
  font-size: 2rem;
  border: 3px dashed black;
  margin-top: 1rem;
}

.disable-name {
  background-color: #3498db54;
}

.player-name:hover {
  background-color: #1f8fda;
}

.disable-name:hover {
  background-color: #3498db54;
}

.king-player-bet {
  border: 3px dashed black;
  margin: auto;
  width: 90%;
  border-radius: 20px;
  padding: 0.5rem;
}

.player-bet {
  display: flex;
  align-items: center;
}

.disable-player-bet {
  border: 3px dashed black;
  margin: auto;
  width: 90%;
  border-radius: 20px;
  padding: 0.5rem;
}

.coin-bet-icon-add {
  background-color: #df2b2b;
  width: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5rem;
  border-radius: 50px;
  font-family: Lalezar Regular;
  font-size: 2rem;
  margin-top: 1rem;
  cursor: pointer;
  border: none;
}

.coin-bet-icon-remove {
  background-color: #df2b2b;
  width: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5rem;
  border-radius: 50px;
  font-family: Lalezar Regular;
  font-size: 2rem;
  margin-top: 1rem;
  cursor: pointer;
  border: none;
}

.disable-coin {
  background-color: #df2b2bbb;
}

.bet-coin:hover {
  background-color: #c22727;
}

.disable-coin:hover {
  background-color: #df2b2bbb;
}

.bet-icon-mobiles {
  display: none;
}

.bet-coin-sec {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.coin-ic {
  width: 5rem;
  height: 5rem;
}

.count-coin-bet {
  font-family: Lalezar Regular;
  font-size: 1.5rem;
}

@media screen and (max-width: 1835px) {
  .coin-bet-icon-add {
    margin-right: 3rem;
  }

  .coin-bet-icon-remove {
    margin-left: 3rem;
  }
}

@media screen and (max-width: 1440px) {
  .coin-bet-icon-add {
    margin-right: 1rem;
  }

  .coin-bet-icon-remove {
    margin-left: 1rem;
  }

  .player-name {
    width: 50%;
  }
}

@media screen and (max-width: 1370px) {
  .bet-icon {
    width: 18rem;
    height: 18rem;
  }

  .bet-icon-2 {
    width: 18rem;
    height: 18rem;
  }

  .bet-icon-box {
    float: right;
    width: 20%;
    margin-right: 3%;
  }

  .bet-icon-box-2 {
    float: left;
    margin-left: 3%;
  }

  .betting-box {
    width: 45%;
  }
}

@media screen and (max-width: 1245px) {
  .bet-icon-box {
    margin-right: 1%;
  }

  .bet-icon-box-2 {
    float: left;
    margin-left: 1%;
  }

  .betting-box {
    width: 46%;
  }
}

@media screen and (max-width: 1133px) {
  .bet-icon-box-2 {
    display: none;
  }

  .betting-box {
    width: 70%;
  }

  .bet-icon-box {
    display: none;
  }
}

@media screen and (max-width: 856px) {
  .to-player-txt {
    font-size: 1.3rem;
  }

  .betting-box {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .betting-box {
    width: 90%;
  }
}

@media screen and (max-width: 560px) {
  .first-betting-icon {
    width: 15rem;
    height: 15rem;
  }

  .betting-box {
    width: 95%;
  }

  .bet-players-box {
    width: 90%;
  }

  .player-bet-disable {
    display: flex;
    align-items: center;
    border: 3px dashed black;
    width: 90%;
    margin: auto;
    border-radius: 20px;
    padding: 0rem;
  }

  .player-name {
    width: 50%;
    font-size: 1.8rem;
  }

  .coin-bet-icon-add {
    font-size: 1.8rem;
    width: 2.9rem;
  }

  .coin-bet-icon-remove {
    font-size: 1.8rem;
    width: 2.9rem;
  }

  .coin-ic {
    width: 4rem;
    height: 4rem;
  }
}

@media screen and (max-width: 445px) {
  .first-betting-icon {
    width: 15rem;
    height: 15rem;
  }

  .betting-box {
    width: 98%;
  }

  .player-name {
    width: 50%;
    font-size: 1.5rem;
  }

  .coin-bet-icon-add {
    font-size: 1.5rem;
    width: 2.5rem;
    margin-right: 0.2rem;
  }

  .coin-bet-icon-remove {
    font-size: 1.5rem;
    width: 2.5rem;
    margin-left: 0.2rem;
  }

  .betting-box-txt {
    font-size: 2.3rem;
  }
}
