.login-main {
  align-items: center;
  text-align: center;
  justify-content: center;
}

.login {
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
}

.login-from {
  width: 33%;
  float: right;
  background-color: #fea004;
  border-radius: 10px;
  border: black solid 4px;
}

.login-txt {
  font-family: "Lalezar", cursive;
  font-size: 3.1rem;
  display: block;
}

.login-icon {
  width: 10rem;
  height: 10rem;
}

.phone-login {
  display: flex;
  align-items: center;
  justify-content: center;
}

.phone-txt-login {
  font-family: Vazirmatn;
  font-size: 1.2rem;
  margin: 0rem 1rem 0rem 1rem;
}

.phone-number-input {
  border-radius: 10px;
  border: none;
  background-color: #ffc312;
  border: #fff200 solid 3px;
  padding: 0.5rem 1.3rem 0.5rem 1.3rem;
  width: 35%;
}

.phone-number-input:focus {
  outline: none !important;
  border: #fff200 dashed 3px;
}

.register-btn {
  border-radius: 10px;
  padding: 1rem;
  background-color: #ff3838;
  color: white;
  font-family: Vazirmatn;
  font-size: 1rem;
  width: 8rem;
  border: #bb2020 solid 3px;
}

.login-btn {
  margin: 1rem;
  border-radius: 10px;
  padding: 1rem;
  background-color: #009432;
  color: white;
  font-family: Vazirmatn;
  font-size: 1rem;
  width: 8rem;
  border: #016b25 solid 3px;
}

.register-btn:hover {
  border: #bb2020 dashed 3px;
}

.login-btn:hover {
  border: #016b25 dashed 3px;
}

.time-error {
  color: red;
  font-family: "Vazirmatn";
}

@media screen and (max-width: 1669px) {
  .login-from {
    width: 38%;
  }
}

@media screen and (max-width: 1555px) {
  .login-from {
    width: 40%;
  }
}

@media screen and (max-width: 1400px) {
  .login-from {
    width: 50%;
  }
}

@media screen and (max-width: 1110px) {
  .login-from {
    width: 55%;
  }
}

@media screen and (max-width: 1000px) {
  .login-from {
    width: 70%;
  }

  .phone-number-input {
    width: 45%;
  }
}

@media screen and (max-width: 700px) {
  .login-icon {
    width: 9rem;
    height: 9rem;
  }

  .login-txt {
    font-size: 2.6rem;
  }

  .phone-login {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .phone-txt-login {
    font-size: 1rem;
  }
}

@media screen and (max-width: 544px) {
  .time-error {
    font-size: 0.9rem;
  }

  .login-from {
    width: 90%;
  }
}

@media screen and (max-width: 369px) {
  .login-from {
    width: 99%;
  }

  .phone-txt-login {
    font-size: 0.9rem;
  }

  .phone-number-input {
    width: 55%;
  }
  .register-btn {
    margin-bottom: 1rem;
  }
}
