.result-txt {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 2.3rem;
  font-family: 'Lalezar', cursive;
}

.result-table {
  margin: auto;
  text-align: center;
  width: 90%;
  font-family: 'Lalezar', cursive;
  background-color: #feac01;
  border-collapse: collapse;
  border-radius: 10px;
  border-style: hidden;
  box-shadow: 0 0 0 3px black;
}

.coin-icon-2 {
  width: 5rem;
  height: 5rem;
}

.result-line {
  font-size: 1.9rem;
  border: 2px solid black;
}

.td-result {
  border: 2px solid black;
}

.result-icon {
  margin: auto;
  display: flex;
  justify-content: center;
  width: 21rem;
  height: 21rem;
}

.start-header {
  width: 100%;
  background-color: #298bcc;
  color: white;
  font-family: 'Lalezar', cursive;
  text-align: center;
  font-size: 2.2rem;
  padding: 1.7rem;
}

.answer-question {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-family: 'Lalezar', cursive;
  background-color: #009432;
  width: 25%;
  margin: auto;
  border-radius: 10px;
  border: 3px dashed rgb(3, 34, 3);
}

.count-player-coin {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 1.8rem;
  font-family: 'Lalezar', cursive;
  background-color: #232523;
  width: 15%;
  margin: auto;
  border-radius: 50px;
  border: #8395a7 3px dashed;
}

.change-category {
  display: flex;
  margin: auto;
  justify-content: center;
  font-family: 'Lalezar', cursive;
  font-size: 1.5rem;
  background-color: #8e44ad;
  color: white;
  border: none;
  font-weight: normal;
  padding: 1rem;
  border-radius: 15px;
  border: 3px dashed black;
  width: 20%;
}

@media screen and (max-width: 1777px) {
  .result-table {
    width: 90%;
  }

  .change-category {
    width: 30%;
  }
}

@media screen and (max-width: 1500px) {
  .count-player-coin {
    width: 17%;
  }

  .result-table {
    width: 90%;
  }

  .result-line {
    font-size: 1.7rem;
    border: 2px solid black;
  }

  .td-result {
    border: 2px solid black;
  }
}

@media screen and (max-width: 1280px) {
  .change-category {
    width: 35%;
  }

  .result-table {
    width: 95%;
  }
}

@media screen and (max-width: 1050px) {
  .change-category {
    width: 45%;
  }

  .result-table {
    width: 98%;
  }

  .result-line {
    font-size: 1.5rem;
    border: 2px solid black;
  }

  .result-icon {
    width: 18rem;
    height: 18rem;
  }

  .count-player-coin {
    width: 22%;
    padding: 0rem;
    font-size: 1.5rem;
  }

  .coin-icon-2 {
    width: 4rem;
    height: 4rem;
    margin-top: 0.4rem;
  }

  .answer-question {
    font-size: 1.5rem;
    width: 35%;
  }
}

@media screen and (max-width: 731px) {
  .change-category {
    font-size: 1.3rem;
    padding: 0.8rem;
    width: 58%;
  }

  .result-txt {
    font-size: 2rem;
  }

  .result-table {
    width: 98%;
  }

  .result-line {
    font-size: 1.3rem;
    border: 2px solid black;
  }

  .count-player-coin {
    width: 28%;
    padding: 0rem;
    font-size: 1.5rem;
  }

  .answer-question {
    font-size: 1.5rem;
    width: 40%;
  }
}

@media screen and (max-width: 497px) {
  .change-category {
    font-size: 1.1rem;
    padding: 0.7rem;
    width: 65%;
  }

  .result-txt {
    font-size: 1.8rem;
  }

  .result-table {
    width: 100%;
    border-radius: 2px;
  }

  .result-line {
    font-size: 1.1rem;
  }

  .result-icon {
    width: 16rem;
    height: 16rem;
  }

  .count-player-coin {
    width: 35%;
    padding: 0rem;
    font-size: 1.4rem;
    border-radius: 20px;
  }

  .coin-icon-2 {
    width: 3rem;
    height: 3rem;
    margin-top: 0.8rem;
  }

  .answer-question {
    font-size: 1.5rem;
    width: 50%;
  }
}

@media screen and (max-width: 450px) {
  .change-category {
    width: 85%;
  }

  .result-txt {
    font-size: 1.8rem;
  }

  .result-table {
    width: 100%;
    border-radius: 2px;
  }

  .result-line {
    font-size: 1rem;
  }

  .result-icon {
    width: 16rem;
    height: 16rem;
  }

  .count-player-coin {
    width: 35%;
    padding: 0rem;
    font-size: 1.4rem;
    border-radius: 20px;
  }

  .coin-icon-2 {
    width: 3rem;
    height: 3rem;
    margin-top: 0.8rem;
  }

  .answer-question {
    font-size: 1.5rem;
    width: 50%;
  }
}

@media screen and (max-width: 380px) {
  .result-txt {
    font-size: 1.8rem;
  }

  .result-table {
    width: 100%;
    border-radius: 2px;
  }

  .result-line {
    font-size: 1rem;
  }

  .result-icon {
    width: 16rem;
    height: 16rem;
  }

  .count-player-coin {
    width: 40%;
    padding: 0rem;
    font-size: 1.4rem;
    border-radius: 20px;
  }

  .coin-icon-2 {
    width: 3rem;
    height: 3rem;
    margin-top: 0.8rem;
  }

  .answer-question {
    font-size: 1.5rem;
    width: 70%;
  }
}
