.winner-header {
  width: 100%;
  font-family: Lalezar Regular;
  background-color: #239954;
  padding: 2rem;
  font-size: 2.7rem;
  text-align: center;
  color: white;
}

.loser-header {
  width: 100%;
  font-family: Lalezar Regular;
  background-color: #e74c3c;
  padding: 2rem;
  font-size: 2.5rem;
  text-align: center;
  color: white;
}

.winners-main-box {
  background-color: #feac01;
  width: 50%;
  margin: auto;
  border-radius: 20px;
  border: 4px solid black;
}

.winwin-png {
  width: 18rem;
  height: 18rem;
  display: flex;
  margin: auto;
}

.winners-names {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.winner-name {
  background-color: #fed330;
  margin: 2rem;
  width: 100%;
  font-family: Lalezar Regular;
  font-size: 1.8rem;
  padding: 1rem;
  border: 4px dashed black;
  border-radius: 50px;
}

.winners-txt {
  font-family: Lalezar Regular;
  margin: auto;
  text-align: center;
  font-size: 2.2rem;
}

.end-txt {
  font-family: Lalezar Regular;
  margin: auto;
  text-align: center;
  font-size: 1.5rem;
}

.winner-icons {
  background-color: #f39c12;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top: 3px dashed black;
}

.win1-icon,
.win2-icon,
.win3-icon {
  width: 14rem;
  height: 14rem;
  margin: 1.6rem;
}

.show-players-coins-header {
  width: 100%;
  background-color: #8e44ad;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  text-align: center;
  font-family: Lalezar Regular;
  color: white;
  font-size: 2rem;
  padding: 1rem;
  cursor: pointer;
}

.show-players-coins-header:hover {
  background-color: #9b59b6;
}

@media screen and (max-width: 1669px) {
  .winners-main-box {
    width: 60%;
  }
}

@media screen and (max-width: 1400px) {
  .winners-main-box {
    width: 65%;
  }
}

@media screen and (max-width: 1293px) {
  .winners-main-box {
    width: 70%;
  }
}

@media screen and (max-width: 1165px) {
  .winners-main-box {
    width: 75%;
  }

  .winners-names {
    width: 95%;
  }
}

@media screen and (max-width: 1080px) {
  .winners-main-box {
    width: 85%;
  }
}

@media screen and (max-width: 990px) {
  .winners-main-box {
    width: 90%;
  }

  .win1-icon {
    display: none;
  }

  .winners-names {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .show-players-coins-header {
    font-size: 1.5rem;
  }

  .winner-header {
    padding: 2rem;
    font-size: 2.3rem;
  }

  .loser-header {
    padding: 2rem;
    font-size: 2.3rem;
  }

  .winwin-png {
    width: 13rem;
    height: 13rem;
  }

  .winners-txt {
    font-size: 2rem;
  }

  .winner-name {
    font-size: 1.5rem;
    padding: 0.5rem;
    border: 3px dashed black;
  }

  .win1-icon,
  .win2-icon,
  .win3-icon {
    width: 10rem;
    height: 10rem;
    margin: 1.6rem;
  }

  .winners-main-box {
    width: 97%;
  }
}

@media screen and (max-width: 427px) {
  .winwin-png {
    width: 13rem;
    height: 13rem;
  }

  .winners-txt {
    font-size: 1.7rem;
  }

  .winner-name {
    font-size: 1.4rem;
    padding: 0.5rem;
    border: 3px dashed black;
    margin: 0.8rem;
  }

  .win1-icon,
  .win2-icon,
  .win3-icon {
    width: 10rem;
    height: 10rem;
    margin: 1.6rem;
  }

  .winners-names {
    width: 100%;
  }

  .winners-main-box {
    width: 97%;
  }

  .end-txt {
    font-size: 1.3rem;
  }

  .win2-icon {
    display: none;
  }
}
